body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*   MENU FIXO   */

#bloco{
  background: #fff;
  height: 80px;
  width: 100%;
  display: flex;
}
#bloco-quartos{
  background: url("../assets/img-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
}


#topo-container {
  background: #fff;
  font-size: 18px;
  height: 80px;
  width: 100%;
  position: fixed;
}

#topo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.link-logo {
  font-size: 26px;
  font-weight: 500;
}

.link-menu {
  padding: 10px 20px;
  margin-left: 10px;
  text-decoration: none;
}

/*     BANNER     */
#banner {
  background: url("../assets/img-fundo.jpg");
  max-width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}

#texto-banner {
  display: flex;
  height: 200px;
  width: 400px;
  border: 1px solid white;
  flex-direction: column;
  text-align: center;
  background: rgba(56, 129, 84, 0.6);
  padding: 10px;
}

#texto-banner h1 {
  color: white;
  margin-top: 40px;
  font-size: 36px;
}

#texto-banner p {
  color: white;
  margin-top: 40px;
  font-size: 20px;
}

/*    INDEX-QUARTOS    */

#quartos {
  display: flex;
  height: auto;
  width: 100%;
  align-content: space-around;
}

#saudacoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 0;
}

#quadro_quartos {
  height: 350px;
  width: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.quartos {
  width: 25%;
  min-width: 300px;
  border-bottom: 2px solid rgb(94, 128, 94);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 1em;
}

.quartos a {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

#quartos img {
  width: 100%;
  margin-bottom: 10px;
}


/*    QUARTOS    */

.tipo-quartos{
  display: flex;
  width: 100%;
}

.titulo{
  height: 150px;
  text-align: center;
  padding: 30px;
}

.titulo h1{
  padding-bottom: 30px;
}

.fotos-quarto{
  display: flex;
  justify-content: center;
  width: 100%;
}

.fotos-quarto .imagem{
  padding: 0 20px;
  width: 350px;
  height: 250px;
}

.lista-opcoes-quarto{
  padding: 0 15%;
  height: 150px;
  text-align: center;
}

.lista-opcoes-quarto div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*     ROTA     */
#rota {
  display: flex;
  width: 100%;
}

#texto-rota {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

#texto-rota h1 {
  margin-bottom: 20px;
}

#frame-rota {
  display: flex;
  width: 100%;
}

#frame-rota iframe {
  display: block;
  height: 300px;
  width: 100%;
}

/*     SOBRE     */

#sobre {
  display: flex;
  width: 100%;
}

#texto-sobre{
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

#texto-sobre h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

#quadro-sobre{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.quadros-sobre{
  width: 35%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px 50px;
}

.quadro-sobre-descricao {
  width: 70%;
}

.quadro-sobre-descricao h3{
  margin-bottom: 10px;
}

.quadro-sobre-imagem img{
  width: 150px;
  height: 150px;
}

/*     RODAPE    */
#rodape{
  background-color: rgb(94, 128, 94);
  display: inline-flex;
  width: 100%;
  height: 150px;
  flex-direction: row;
  justify-content: center;
}

#contato{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  font-size: 20px;
  border-bottom: 1px solid #fff;
}

.quadro-contato{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  
}

#contato h2{
  font-size: 18px;
  color: white;
}

#contato img{
  margin: 20px;
  width: 50px;
  
}

#contato a{
  text-decoration: none;
  color: white;
}

#direitos{
  background-color: rgb(94, 128, 94);
  text-align: center;
  padding: 20px;
  color: white;
}